<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Ticket</h1>
    <p>
      You have been assigned a new ticket
    </p>
  </body>
</html>
